.BadgeNew__hero {
    background: url('../../images/stars.svg'), #1B1B25;
    background-position: center center;
    background-repeat: repeat;
    background-attachment: fixed;
    background-size: cover;
}

.RowHome {
    height: 100vh;
}