.PageError {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.ImageError {
    display: block;
    margin: auto;
    width: 35%;
}